<!-- Page Banner Area Start -->
<div id="page-banner-area" class="page-banner-area section" style="background-image: url({{mediaCoverImage}})">
  <div class="container">
    <div class="row">
      <div class="page-banner-title text-center col-xs-12">
        <h2>{{gallery.name}}</h2>

      </div>
    </div>
  </div>
</div>
<!-- Page Banner Area End -->

<!-- Blog Area Start -->
<div id="gallery-area" class="gallery-area section pb-30 pt-30">
  <div class="container">
    <gallery class="gallery"
             [items]="images"
             [loop]=true
             [playerInterval] = 5000
             [autoPlay]=true>
    ></gallery>
  </div>
</div>
