/*----------------------------------------*/
/*  4.  About Area
/*----------------------------------------*/
.about-area {}
/*-- About Image --*/
.about-image {
    & img {
        width: 100%;
    }
}
/*-- About Content --*/
.about-content {
    padding-left: 42px;
    padding-top: 35px;
    @media #{$desktop-device}{
        padding-left: 15px;
        padding-top: 0;
    }
    @media #{$tablet-device}{
        padding-left: 15px;
    }
    @media #{$large-mobile}{
        padding-left: 15px;
    }
    & h4 {
        font-size: 18px;
        color: #757575;
        font-weight: 600;
        margin-bottom: 3px;
        @media #{$small-mobile}{
            font-size: 14px;
        }
    }
    & h2 {
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 16px;
        text-transform: uppercase;
        @media #{$small-mobile}{
            font-size: 18px;
        }
        & span {
            color: $theme-color;
        }
    }
    & p {
        font-size: 16px;
        line-height: 26px;
        color: #727272;
        margin-bottom: 20px;
    }
    & ol {
        list-style: inside none decimal-leading-zero;
        padding-left: 0;
        & li {
            font-size: 15px;
            color: #727272;
            line-height: 30px;
        }
    }
    & a {
        height: 43px;
        padding: 10px 34px;
        line-height: 22px;
        border-radius: 5px;
        color: $color-white;
        font-family: $montserrat;
        margin-top: 10px;
        font-weight: 600;
        background-color: $heading-color;
        &:hover {
            background-color: $theme-color;
        }
    }
}
/*-- About Content 2 --*/
.about-content-2 {
    padding-top: 0;
    padding-left: 15px;
    @media #{$tablet-device}{
        margin-top: 30px;
    }
    @media #{$large-mobile}{
        margin-top: 30px;
    }
}