/*----------------------------------------*/
/*  3.  Hero Area
/*----------------------------------------*/
.hero-area {}
/*-- Hero Slider Arrow --*/
.hero-slider {
    & .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 99;
        width: 40px;
        height: 120px;
        border: none;
        background-color: rgba(#000, 0.2);
        text-align: center;
        color: $color-white;
        margin-top: -60px;
        @media #{$large-mobile}{
            width:  30px;
            height: 60px;
            margin-top: -30px;
        }
        &:hover {
            width: 120px;
            @media #{$tablet-device}{
                width: 40px;
            }
            @media #{$large-mobile}{
                width: 30px;
            }
        }
        & i {
            line-height: 120px;
            display: block;
            font-size: 40px;
            @media #{$large-mobile}{
                font-size: 24px;
                line-height: 60px;
            }
        }
        &.slick-prev {
            left: 0;
        }
        &.slick-next {
            right: 0;
        }
    }
}
/*-- Single Hero Sider --*/
.hero-item {
    position: relative;
    &::before {
        background: #000000;
        background: -moz-linear-gradient(left, #000000 0%, #8c8c8c 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, #000000), color-stop(100%, #8c8c8c));
        background: -webkit-linear-gradient(left, #000000 0%, #8c8c8c 100%);
        background: -o-linear-gradient(left, #000000 0%, #8c8c8c 100%);
        background: -ms-linear-gradient(left, #000000 0%, #8c8c8c 100%);
        background: linear-gradient(to right, #000000 0%, #8c8c8c 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#8c8c8c', GradientType=1 );
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0.75;
        content: "";
        z-index: 1;
    }
    & img {
        width: 100%;
    }
    & .container {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 9;
        top: 50%;
        margin-top: 40px;
        @include transform(translateY(-50%));
        @media #{$large-mobile}{
            margin-top: 0;
        }
    }
}
/*-- Hero Sider Content --*/
.hero-content {
    @media #{$tablet-device}{
        padding: 0 30px;
    }
    & * {
        -webkit-animation-duration:1s;
        animation-duration:1s;
        -webkit-animation-fill-mode:both;
        animation-fill-mode:both;
        -webkit-animation-name: fadeOutDown;
        animation-name: fadeOutDown;
    }
    & h1 {
        font-size: 72px;
        font-weight: 800;
        color: $color-white;
        text-transform: uppercase;
        margin-bottom: 18px;
        @media #{$desktop-device}{
            font-size: 56px;
            margin-bottom: 10px;
        }
        @media #{$tablet-device}{
            font-size: 44px;
            margin-bottom: 10px;
        }
        @media #{$large-mobile}{
            font-size: 24px;
            margin-bottom: 5px;
        }
        @media #{$small-mobile}{
            font-size: 18px;
        }
        & span {
            color: $theme-color;
        }
    }
    & p {
        font-size: 18px;
        line-height: 30px;
        font-weight: 300;
        color: $color-white;
        margin-bottom: 50px;
        @media #{$desktop-device}{
            font-size: 16px;
            margin-bottom: 30px;
        }
        @media #{$tablet-device}{
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 20px;
        }
        @media #{$large-mobile}{
            font-size: 12px;
            line-height: 20px;
            margin-bottom: 10px;
        }
        @media #{$small-mobile}{
            height: 40px;
            overflow: hidden;
        }
    }
    & a {
        height: 49px;
        border: 2px solid rgba($color-white, 0.75);
        border-radius: 5px;
        line-height: 23px;
        color: $color-white;
        padding: 11px 42px;
        font-family: $montserrat;
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        @media #{$desktop-device}{
            height: 43px;
            padding: 8px 30px;
        }
        @media #{$tablet-device}{
            height: 35px;
            padding: 4px 20px;
            font-size: 14px;
        }
        @media #{$large-mobile}{
            height: 32px;
            padding: 3px 12px;
            font-size: 12px;
        }
        &:hover {
            background-color: $theme-color;
            border-color: $theme-color;
        }
    }
}
/*-- Hero Sider Content Animation --*/
.hero-item {
    &.slick-active {
        & .hero-content {
            & * {
                -webkit-animation-name: fadeInUp;
                animation-name: fadeInUp;
            }
            & h1 {
                -webkit-animation-delay: 0.6s;
                animation-delay: 0.6s;
            }
            & p {
                -webkit-animation-delay: 1.1s;
                animation-delay: 1.1s;
            }
            & a {
                -webkit-animation-delay: 1.6s;
                animation-delay: 1.6s;
            }
        }
    }
}