/*----------------------------------------*/
/*  16.  Product Area
/*----------------------------------------*/
/*-- Single Product Image --*/
.single-product-image {
    // overflow: hidden;
    @media #{$tablet-device}{
        margin-bottom: 30px;
    }
    @media #{$large-mobile}{
        margin-bottom: 30px;
    }
}
/*-- Single Product Image Slider --*/
.product-image-slider {
    border: 1px solid #eee;
    width: calc(100% - 115px);

    & a {
        display: block;
        position: relative;
        & img {
            width: 100%;
        }
    }
}
/*-- Single Product Thumb Slider --*/
.product-thumb-slider {
    position: relative;
    width: 100px;
    margin-right: 15px;
    width: 100px;
    @media #{$small-mobile}{
        width: 60px;
    }
    /* the slides */
  .slick-slide {
    margin: 5px 0;
  }
  /* the parent */
  .slick-list {
    margin:  -5px 0;
  }
    
    & .sin-item {
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: none;
        max-width: 100%;
        margin-bottom: 5px;
        &.slick-center {
            & img {
                border-color: $theme-color;
            }
        }
        & img {
            border: 1px solid #eee;
            width: 100%;
        }
    }
    & .slick-arrow {
        position: absolute;
        left: 0;
        right: 0;
        background-color: #eee;
        border: none;
        z-index: 9;
        background-color: $color-white;
        border: 1px solid #eee;
        height: 20px;
        width: 100%;
        &.slick-prev {
            top: -20px;
        }
        &.slick-next {
            bottom: -20px;
        }
        & i {
            color: $text-color;
            font-size: 16px;
            display: block;
        }
    }
}
/*-- Single Product Content --*/
.single-product-content {
    & .title {
        font-size: 24px;
        font-weight: 600;
        text-transform: capitalize;
        margin-bottom: 20px;
        & a {
            color: #5c5c5c;
            &:hover {
                color: $theme-color;
            }
        }
    }
    & .price-ratting {
        margin-bottom: 25px;
        & .price {
            font-weight: 600;
            font-size: 24px;
            color: #505050;
            line-height: 24px;
            margin-bottom: 0;
            & span {
                font-size: 16px;
                line-height: 24px;
                float: left;
                margin-right: 2px;
            }
        }
        & .ratting {
            & i {
                color: $theme-color;
                font-size: 14px;
                float: left;
                margin-left: 5px;
                line-height: 24px;
            }
        }
    }
    & p {
        margin-bottom: 30px;
    }
    & .action-btn {
        margin-bottom: 30px;
        & a {
            height: 27px;
            min-width: 27px;
            line-height: 28px;
            text-align: center;
            color: $color-white;
            float: left;
            font-weight: normal;
            font-size: 11px;
            text-transform: uppercase;
            font-family: $montserrat;
            margin-right: 8px;
            & i {
                line-height: 28px;
                display: block;
                font-size: 16px;
            }
            &.add-cart {
                padding: 0 14px;
                background-color: #505050;
                &:hover {
                    background-color: $theme-color;
                }
            }
            &.wishlist {
                background-color: $theme-color;
                width: 27px;
                &:hover {
                    background-color: #505050;
                }
            }
        }
    }
    & .product-share {
        & h5 {
            display: block;
            float: left;
            margin-right: 30px;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 0;
        }
        & a {
            display: block;
            float: left;
            margin-right: 15px;
            &:hover {
                color: $theme-color;
            }
            & i {
                display: block;
                font-size: 16px;
            }
        }
    }
}
/* Product Details Tab Container */
.pro-details-tab-container, .tab-container {
    border: 1px solid #eee;
    padding: 30px;
}
/* Product Details Tab List */
.pro-details-tablist, .tab-list {
    margin-bottom: 22px;
    & .nav-item {
        display: block;
        float: left;
        margin-bottom: 10px;
        margin-right: 45px;
        & .nav-link {
            color: #252525;
            display: block;
            font-size: 18px;
            font-weight: 700;
            line-height: 15px;
            text-transform: uppercase;
            border: none;
            background: none;
            padding: 0;

            &.active{
                color: $theme-color;
            }
        }
    }
}
/* Product Description Tab */
.pro-dsc-tab {
    & p {
        color: #333333;
        margin-bottom: 25px;
    }
    & ul {
        & li {
            color: #333333;
            &::before {
                color: #606060;
                content: "\f2fb";
                font-family: "Material-Design-Iconic-Font";
                font-size: 12px;
                margin-right: 3px;
                padding: 0 2px;
            }
        }
    }
}
/* Product Information Tab */
.pro-info-tab {
    & p {
        color: #333333;
        margin-bottom: 25px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
/* Product Review Tab */
.pro-rev-tab {
    max-width: 910px;
    width: 100%;
}
.sin-review {
    margin-bottom: 30px;
}
.review-image {
    border: 1px solid #f1f1f1;
    float: left;
    margin-right: 30px;
    width: 90px;
    @media #{$small-mobile}{
        float: none;
        margin-bottom: 15px;
    }
    & img {
        width: 100%;
    }
}
.review-details {
    & .review-author {
        & h3 {
            color: #252525;
            float: left;
            font-size: 14px;
            font-weight: 600;
            line-height: 12px;
            margin: 0 30px 0 0;
            text-transform: uppercase;
        }
        & span {
            color: #909090;
            display: block;
            float: left;
            font-size: 12px;
            line-height: 12px;
            margin-top: 7px;
            overflow: hidden;
            width: 100%;
        }
        & .review-star {
            & i {
                color: $theme-color;
                display: block;
                float: left;
                line-height: 12px;
                margin-right: 3px;
            }
        }
    }
    & .replay-delect {
        @media #{$large-mobile}{
            float: left;
            margin-top: 10px;
            width: 100%;
        }
        & a {
            background-color: #f1f1f1;
            color: #999;
            display: block;
            float: left;
            height: 30px;
            margin-left: 2px;
            text-align: center;
            width: 50px;
            &:hover {
                color: $theme-color;
            }
            & i {
                display: block;
                font-size: 18px;
                line-height: 30px;
            }
        }
    }
    & p {
        clear: both;
        color: #333333;
        display: block;
        float: left;
        line-height: 20px;
        margin-top: 18px; 
    }
}
/* Review Form */
.review-form-wrapper{
    & h3 {
        color: #606060;
        font-size: 18px;
        font-weight: 700;
        line-height: 14px;
        margin: 10px 0 30px;
        text-transform: uppercase;
    }
}
.review-form {
      margin-left: -15px;
      margin-right: -15px;
    & .star-box {
        margin-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
        & h4 {
            color: #606060;
            font-size: 14px;
            font-weight: 600;
            line-height: 12px;
            margin: 0 0 15px;
            text-transform: uppercase;
        }
        & .star {
            border-right: 1px solid #cccccc;
            display: block;
            float: left;
            margin-right: 15px;
            padding-right: 15px;
            & i {
                color: $theme-color;
                display: block;
                float: left;
                line-height: 13px;
                & + i {
                    margin-left: 6px;
                }
            }
            &.star-5 {
                margin-right: 0;
                padding-right: 0;
                border-right: none; 
            }
        }
    }
    & .input-box {
        margin-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
        & input, & textarea {
            background-color: #f1f1f1;
            border: medium none;
            color: #909090;
            font-weight: 300;
            line-height: 24px;
            padding: 8px 20px;
            width: 100%;
        }
        & textarea {
            display: block;
            height: 100px;
            resize: none;
        }
    }
    & .input-box-2 {
        .input-box {
            width: 50%;
            @media #{$large-mobile}{
                width: 100%;
            }
        }
    }
    & .submit-box {
        margin-bottom: 0;
        & input {
            background-color: $theme-color;
            border-radius: 3px;
            color: #fff;
            font-weight: 600;
            text-transform: uppercase;
            width: auto;
        }
    }
}