<!-- Page Banner Area Start -->
<div id="page-banner-area" class="page-banner-area section" style="background-image: url({{aboutCoverImage}})">
  <div class="container">
    <div class="row">
      <div class="page-banner-title text-center col-12">
        <h2>about</h2>
      </div>
    </div>
  </div>
</div>
<!-- Page Banner Area End -->

<!-- About Area Start -->
<div id="about-area" class="about-area section pb-60 pt-60">
  <div class="container">
    <div class="row flex-column flex-lg-row-reverse">
      <!-- About Image -->
      <div class="about-image col-lg-5 col-12">
        <img src="{{aboutSideImage}}" alt="About MamboleFC">
      </div>
      <!-- About Content -->
      <div class="about-content about-content-2 col-lg-7 col-12">
        <p>
          Mamboleo FC is a non-profit organization that promotes physical and mental health, diversity and inclusion through our soccer community. With the help of our volunteer and player community, we provide free soccer training, organized league play, and assistance to those experiencing financial barriers to participating in soccer.
        </p>
        <p>
          At the heart of our club is a common love for the beautiful game and a desire to constantly improve our skills, fitness and teamwork, regardless of age!
        </p>
        <p>
          We promote culture, diversity and inclusion by bringing together individuals of every background imaginable under the shared values of kindness, respect and openness.
        </p>
        <p>
          Our philosophy is that connection is the antidote to depression and that when we expose ourselves to new experiences and new people - our worlds can grow exponentially.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- About Area End -->
