<!-- Page Banner Area Start -->
<div id="page-banner-area" class="page-banner-area section"  style="background-image: url({{programsCoverImage}})">
  <div class="container">
    <div class="row">
      <div class="page-banner-title text-center col-12">
        <h2>programs</h2>
      </div>
    </div>
  </div>
</div>
<!-- Page Banner Area End -->

<!-- About Area Start -->
<div id="about-area" class="about-area section">
  <div class="container">
    <div class="row flex-column flex-lg-row-reverse  pb-30 pt-60">
      <!-- About Image -->
      <div class="about-image col-lg-5 col-12 pt-0">
        <img src="{{programSide1Image}}" alt="">
      </div>
      <!-- About Content -->
      <div class="about-content program-content-2 col-lg-7 col-12" [innerHTML]="this.content1"></div>
    </div>
    <div class="row flex-column flex-lg-row  pb-30 pt-30">
      <div class="about-image col-lg-5 col-12">
        <img src="{{programSide2Image}}" alt="">
      </div>
      <div class="about-content about-content-2 col-lg-7 col-12" [innerHTML]="this.content2"></div>
    </div>
    <div class="row flex-column flex-lg-row-reverse  pb-30 pt-30">
      <div class="about-image col-lg-5 col-12">
        <img src="{{programSide3Image}}" alt="">
      </div>
      <div class="about-content about-content-2 col-lg-7 col-12" [innerHTML]="this.content3"></div>
    </div>
  </div>
</div>
<!-- About Area End -->
