<!-- Page Banner Area Start -->
<div id="page-banner-area" class="page-banner-area section"  style="background-image: url({{programsCoverImage}})">
  <div class="container">
    <div class="row">
      <div class="page-banner-title text-center col-12">
        <h2>programs</h2>
      </div>
    </div>
  </div>
</div>
<!-- Page Banner Area End -->

<!-- About Area Start -->
<div id="about-area" class="about-area section">
  <div class="container">
    <div class="row flex-column flex-lg-row-reverse  pb-30 pt-60">
      <!-- About Image -->
      <div class="about-image col-lg-5 col-12 pt-0">
        <img src="{{programSide1Image}}" alt="">
      </div>
      <!-- About Content -->
      <div class="about-content program-content-2 col-lg-7 col-12">
        <h1>Summer Training Program</h1>
        <p>
          Join us every Thursday for our adult co-ed summer soccer training sessions with coach Steve! In these
          sessions, we will focus on fitness and mobility, ball skills, passing, formation and team work.
        </p>
        <p>
          All skill levels are welcome. Please ensure proper soccer equipment is worn (non-metal cleats, shin pads), and
          get ready to sweat!!
        </p>
      </div>
    </div>
    <div class="row flex-column flex-lg-row  pb-30 pt-30">
      <div class="about-image col-lg-5 col-12">
        <img src="{{programSide2Image}}" alt="">
      </div>
      <div class="about-content about-content-2 col-lg-7 col-12">
        <h3>Adult Co-Ed Teams</h3>
        <p>
          Each season, Mamboleo FC organizes teams to play in the Soccer 7s adult recreational co-ed league. We place
          the teams in division 1, 2, or 3 depending on skill levels and interest.
        </p>
        <p>
          Each season typically runs for 10-12 weeks plus playoffs. Games are played in the RA Centre dome in the fall,
          winter and spring, and outside on the turf and grass fields in the summer.
        </p>
      </div>
    </div>
    <div class="row flex-column flex-lg-row-reverse  pb-30 pt-30">
      <div class="about-image col-lg-5 col-12">
        <img src="{{programSide3Image}}" alt="">
      </div>
      <div class="about-content about-content-2 col-lg-7 col-12">
        <h3>Newcomer Integration</h3>
        <p>
          Mamboleo FC works with immigrant settlement organizations to help integrate newcomers to Canada through our
          welcoming and inclusive soccer community.
        </p>
        <p>
          Through training, league play and social events, we provide our members with the opportunity to make new
          friends, new connections and experience the best of what Ottawa has to offer (in the city and the
          countryside)!
        </p>
        <p>
          We offer assistance with equipment and league fees for those experiencing financial barriers to participating
          in soccer.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- About Area End -->
