  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
  <!-- Modernizer JS
============================================ -->
<!-- Body main wrapper start -->
<div class="wrapper fix">

  <!-- Header Area Start -->
  <div id="header-area" class="header-area section">
    <div class="container">
      <div class="row">
        <div class="col-12 position-relative">
          <!-- Logo -->
          <a class="logo float-start" href="index.html"><img src="https://tomvisions-images.s3.amazonaws.com/mamboleofc/flamingo-cut.png" width="48" height="48" alt=""></a>
          <!---- Menu ---->
          <div id="main-menu" class="main-menu float-end">
            <nav>
              <ul>
                <li class="home active"><a href="index.html">home</a></li>
                <li class="about"><a  href="/about">about</a>
                  <ul>
                    <li><a  href="/about/mission-vision-values">mission, vision, values</a></li>
                    <li><a  href="/about/the-flamingo">the flamingo</a></li>
                  </ul>
                </li>
                <li class="media"><a href="/media">media</a></li>
                <li class="programs"><a href="/programs">programs</a></li>
                <li class="events"><a href="/events">events</a></li>
                <li class="contact"><a href="/contact">contact</a></li>
              </ul>
            </nav>
          </div>
          <!---- Mobile Menu ---->
          <div class="mobile-menu"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header Area End -->
  <router-outlet></router-outlet>
  <!-- Footer Top Area Start -->
  <!-- Footer Top Area End -->

  <!-- Footer Bottom Area Start -->
  <div class="footer-bottom-area section">
    <div class="container">
      <div class="row justify-content-center align-items-center">

        <!-- Copyright -->
        <div class="copyright col-auto">
          <p>Copyright &copy; <span>Mamboleo FC</span>. 2022. All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Bottom Area End -->

</div>
<!-- Body main wrapper end -->


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

