<!-- Page Banner Area Start -->
<div id="page-banner-area" class="page-banner-area aboutus section">
  <div class="container">
    <div class="row">
      <div class="page-banner-title text-center col-12">
        <h2>the flamingo</h2>
      </div>
    </div>
  </div>
</div>
<!-- Page Banner Area End -->

<!-- About Area Start -->
<div id="about-area" class="about-area section pb-60 pt-60">
  <div class="container">
    <div class="row flex-column flex-lg-row-reverse">
      <!-- About Image -->
      <div class="about-image col-lg-2 m-lg-1 col-6" style="margin-left:20%">
        <img src="http://tomvisions-images.s3-website-us-east-1.amazonaws.com/290x450/mamboleofc/flamingo-about.jpg"  alt="About MamboleFC">
      </div>
      <!-- About Content -->
      <div class="about-content about-content-2 col-lg-8 col-12">
        <h2>The Flamingo</h2>
        <p>
          The flamingo is one of the most distinctive and recognizable birds of the animal kingdom, with its long neck, exotic pink plumage, curved beak and gangly legs. They can be found on nearly every continent, including North and South America, southern Europe, Africa and parts of Asia. They love to congregate in large groups, where they have massive dance parties as part of their courtship routine.
        </p>
        <p>
          Looks and social life aside, this bird is extremely tough, and can survive conditions ranging from sub-zero temperatures to boiling geysers and hypersaline lakes that could strip away human skin! There’s definitely more than meets the eye when it comes to the flamingo, and this is why we have chosen it as the MAMBOLEO FC emblem - it embodies our values of  international diversity, community, fun and resilience, with just that little bit of flair that every soccer player aspires to!
        </p>
      </div>
    </div>
  </div>
</div>
<!-- About Area End -->
