<!-- Page Banner Area Start -->
<div id="page-banner-area" class="page-banner-area section" style="background-image: url({{missionVisionsValuesCoverImage}})">
  <div class="container">
    <div class="row">
      <div class="page-banner-title text-center col-12">
        <h2>mission, vision, values</h2>
      </div>
    </div>
  </div>
</div>
<!-- Page Banner Area End -->

<!-- About Area Start -->
<div id="about-area" class="about-area section pb-60 pt-60">
  <div class="container">
    <div class="row flex-column flex-lg-row-reverse">
      <!-- About Image -->
      <div class="about-image col-lg-2 m-lg-1 col-6" style="margin-left:20%">
        <img src="https://tomvisions-images.s3.amazonaws.com/mamboleofc/about-us-mambolefc-side.png" alt="About MamboleFC">
      </div>

      <!-- About Content -->
      <div class="about-content about-content-2 col-lg-7 col-12" [innerHTML]="this.content"></div>
    </div>
  </div>
</div>
<!-- About Area End -->
