<!-- Page Banner Area Start -->
<div id="page-banner-area" class="page-banner-area aboutus section" style="background-image: url({{this.bannerImage}});z-index: inherit;">
  <div class="container">
    <div class="row">
      <div class="page-banner-title text-center col-12">
        <h2>{{this.name}}</h2>
      </div>
    </div>
  </div>
</div>
<!-- Page Banner Area End -->

<!-- About Area Start -->
<div id="about-area" class="about-area section pb-60 pt-60">
  <div class="container">
    <div class="row flex-column flex-lg-row-reverse">
      <div class="about-image col-lg-5 col-12">
        <img src="{{this.contentImage}}" alt="About Event">
      </div>
      <!-- About Content -->
      <div class="col-lg-7 col-12">
        <div class="event-content link col-lg-12 col-12 d-none d-lg-block" *ngIf="this.link && this.linkName">
          <a class="row justify-content-center align-items-center" href="{{this.link}}">{{this.linkName}}</a>
        </div>
        <div class="event-content link col-lg-12 col-12 d-md-block d-lg-none" style="padding-top:2.5em;margin-bottom: 0px;" *ngIf="this.link && this.linkName">
          <a class="row justify-content-center align-items-center" href="{{this.link}}">{{this.linkName}}</a>
        </div>

        <div class="event-content about-content-2" [innerHTML]="this.content"></div>

      </div>
      <div class="about-image col-lg-5 col-12 pt-30">
        <img src="{{this.aboutImage}}" alt="About Sponsor">
      </div>
      <!-- About Content -->
      <div class="about-content-no-block-link about-content-2 col-lg-7 col-12" [innerHTML]="this.about"></div>
    </div>
  </div>
</div>
<!-- About Area End -->
