<!-- Page Banner Area Start -->
<div id="page-banner-area" class="page-banner-area aboutus section" style="background-image: url('http://tomvisions-images.s3-website-us-east-1.amazonaws.com/1920x400/mamboleofc/omer-tournament-banner.jpg');z-index: inherit;">
  <div class="container">
    <div class="row">
      <div class="page-banner-title text-center col-12">
        <h2>OMER GULDER MEMORIAL CHARITY TOURNAMENT</h2>
      </div>
    </div>
  </div>
</div>
<!-- Page Banner Area End -->

<!-- About Area Start -->
<div id="about-area" class="about-area section pb-60 pt-60">
  <div class="container">
    <div class="row flex-column flex-lg-row-reverse" [innerHTML]="this.eventInfo"></div>
  </div>
</div>
<!-- About Area End -->
