<!-- Hero Area Start -->
<div id="hero-area" class="hero-area section d-none d-lg-block">
   <!-- Hero Slider Start -->
   <div class="hero-slider">
    <ng-container *ngIf="homeArray as slides">
    <!-- Single Hero Item -->
    <div *ngFor="let slide of slides" class="hero-item ">
      <!-- Hero Slider Image -->
      <img src="{{slide.imageDesktop}}" loading="lazy" alt="Welcome to our Soccer Club">
      <div class="container">
        <div class="row">
          <!-- Hero Slider Content -->
          <div class="hero-content col-lg-10 col-12">
            <h1><span>{{slide.title}}</span></h1>
              <p>{{slide.message}}</p>
            <p><a href="{{slide.link}}" class="{{slide.class}}">{{slide.clickMore}}</a></p>
          </div>
        </div>
      </div>
    </div>
    </ng-container>
  </div>
</div>


<!-- Page Banner Area Start -->
<div id="page-banner-area" class="page-banner-area home section  d-md-block d-lg-none">
  <div class="container">
    <div class="row">
      <div class="page-banner-title text-center col-12">
      </div>
    </div>
  </div>
</div>
<!-- Page Banner Area End -->


<!-- About Area Start -->
<div id="home-area" class="home-area section pb-60 pt-60 d-md-block d-lg-none">
  <div class="container">

    <ng-container *ngIf="homeArray as slides">

    <div *ngFor="let slide of slides"  class="row flex-column flex-lg-row-reverse">
      <!-- About Image -->
      <h1><span>{{slide.title}}</span></h1>
      <div class="about-image col-lg-5 col-12">
        <img src="{{slide.imageMobile}}" loading="lazy" alt="Welcome to our Soccer Club">
      </div>
      <!-- About Content -->
      <div class="about-content about-content-2 col-lg-7 col-12">
          <p>{{slide.message}}</p>
        <p><a href="{{slide.link}}" class="{{slide.class}}">{{slide.clickMore}}</a></p>
      </div>
    </div>
    </ng-container>
</div>
</div>
<!-- About Area End -->
