<!-- Hero Area Start -->
<div id="hero-area" class="hero-area section d-none d-lg-block">
  <!-- Hero Slider Start -->
  <div class="hero-slider">
    <!-- Single Hero Item -->
    <div class="hero-item ">
      <!-- Hero Slider Image -->
      <div class="glightbox" style="cursor: pointer;">
        <img src="{{charlesVideoScreenImage}}" width="1900" alt="Train with us">
      </div>
      <div class="container">
        <div class="row">
          <!-- Hero Slider Content -->
          <div class="hero-content col-lg-10 col-12">
            <h1><span>Train with us</span></h1>
            <p>
              Talking about training. Need more content here
            </p>
            <p><a href="#" class="glightbox" style="cursor: pointer;">Watch Video</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Single Hero Item -->
    <div class="hero-item ">
      <!-- Hero Slider Image -->
      <img src="{{whoWeAreImageDesktop}}" loading="lazy" alt="Who we are">
      <div class="container">
        <div class="row">
          <!-- Hero Slider Content -->
          <div class="hero-content col-lg-10 col-12">
            <h1><span>Who We are</span></h1>
            <p>
              Mamboleo FC is a non-profit organization that promotes physical and mental health, diversity and inclusion
              through our soccer community. We provide free soccer training, organized league play, and assistance to
              those experiencing financial barriers to participating in soccer.
            </p>
            <p><a href="/about">Read more</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Single Hero Item -->
    <div class="hero-item">
      <!-- Hero Slider Image -->
      <img src="{{upcomingEventsHomeImageDesktop}}" loading="lazy" alt="Upcoming Events">
      <div class="container">
        <div class="row">
          <!-- Hero Slider Content -->
          <div class="hero-content col-lg-10 col-12">
            <h1><span>Upcoming Events</span></h1>
            <p>
              SAVE THE DATE! On Saturday, September 10, Mamboleo FC and Soccer 7s will host the first annual Omer
              Gulder Memorial Charity Tournament.
            </p>
            <p><a href="/events">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Single Hero Item -->
    <div class="hero-item">
      <!-- Hero Slider Image -->
      <img src="{{partnerWithUsHomeImageDesktop}}" loading="lazy" alt="Partner With Us">
      <div class="container">
        <div class="row">
          <!-- Hero Slider Content -->
          <div class="hero-content col-lg-10 col-12">
            <h1><span>Partner with us</span></h1>
            <p>
              Mamboleo FC is dedicated to fostering connection and community through social events promoting sport,
              fitness, nature music and the arts. We partner with local businesses, organizations and artists to bring
              unique events to the Ottawa community, our members and friends.
            </p>
            <p><a href="/contact">Partner with us</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Single Hero Item -->
    <div class="hero-item">
      <!-- Hero Slider Image -->
      <img src="{{followUsHomeImageDesktop}}"
        loading="lazy" alt="Follow Us">
      <div class="container">
        <div class="row">
          <!-- Hero Slider Content -->
          <div class="hero-content col-lg-10 col-12">
            <h1><span>Follow Us</span></h1>
            <p>
              Join our social network for the latest news and events!!
            </p>
            <p>
              <a href="/contact">Get Social</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Page Banner Area Start -->
<div id="page-banner-area" class="page-banner-area home section  d-md-block d-lg-none">
  <div class="container">
    <div class="row">
      <div class="page-banner-title text-center col-12">
      </div>
    </div>
  </div>
</div>
<!-- Page Banner Area End -->


<!-- About Area Start -->
<div id="home-area" class="home-area section pb-60 pt-60 d-md-block d-lg-none">
  <div class="container">
    <div class="row flex-column flex-lg-row-reverse">
      <!-- About Image -->
      <div class="about-image col-lg-5 col-12">
        <img src="{{whoWeAreImageMobile}}" loading="lazy" alt="Who we are">
      </div>
      <!-- About Content -->
      <div class="about-content about-content-2 col-lg-7 col-12">
        <h3>Who we are</h3>
        <p>
          Mamboleo FC is a non-profit organization that promotes physical and mental health, diversity and inclusion
          through our soccer community. We provide free soccer training, organized league play, and assistance to
          those experiencing financial barriers to participating in soccer.</p>
        <p><a href="/about">Read more</a></p>
      </div>
    </div>
    <div class="row flex-column flex-lg-row-reverse">
      <!-- About Image -->
      <div class="about-image col-lg-5 col-12">
        <img src="{{upcomingEventsHomeImageMobile}}"  loading="lazy" alt="Upcoming Events">
      </div>
      <!-- About Content -->
      <div class="about-content about-content-2 col-lg-7 col-12">
        <h3>Upcoming Events</h3>
        <p>
          SAVE THE DATE! On Saturday, September 10, Mamboleo FC and Soccer 7s will host the first annual Omer
          Gulder Memorial Charity Tournament.</p>
        <p><a href="/events">Learn more</a></p>
      </div>
    </div>
    <div class="row flex-column flex-lg-row-reverse">
      <!-- About Image -->
      <div class="about-image col-lg-5 col-12">
        <img src="{{partnerWithUsHomeImageMobile}}" loading="lazy" alt="Partner With Us">
      </div>
      <!-- About Content -->
      <div class="about-content about-content-2 col-lg-7 col-12">
        <h3>Partner With Us</h3>
        <p>
          Mamboleo FC is dedicated to fostering connection and community through social events promoting sport,
          fitness, nature music and the arts. We partner with local businesses, organizations and artists to bring
          unique events to the Ottawa community, our members and friends.</p>
        <p><a href="/contact">Partner with us</a></p>
      </div>
    </div>
    <div class="row flex-column flex-lg-row-reverse">
      <!-- About Image -->
      <div class="about-image col-lg-5 col-12">
        <img src="{{followUsHomeImageMobile}}" loading="lazy" alt="Follow Us">
      </div>
      <!-- About Content -->
      <div class="about-content about-content-2 col-lg-7 col-12">
        <h3>Follow Us</h3>
        <p>
          Join our social network for the latest news and events!!
        </p>
        <p>
          <a href="/contact">Get Social</a>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- About Area End -->
